In [26]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [27]:
label=[]
feature=[[],[],[]]

<h3>Generate Random Sample:</h3>

In [28]:
X1 = random.sample(range(0, 2000), k = 1000)
X2 = random.sample(range(0, 2000), k = 1000)
X3 = random.sample(range(0, 2000), k = 1000)

Y = [5*X1[i] + 3*X2[i] + 1.5*X3[i] + 6 for i in range(1000)]

In [29]:
data = {'feature1': X1, 'feature2': X2, 'feature3': X3, 'labels': Y}  
data = pd.DataFrame(data)

In [30]:
data

     feature1  feature2  feature3   labels
0        1214      1614       597  11813.5
1        1572      1750      1162  14859.0
2        1203      1480        92  10599.0
3        1184       767       347   8747.5
4        1090       187       331   6513.5
..        ...       ...       ...      ...
995       187       467      1270   4247.0
996       188      1989      1744   9529.0
997       205      1666       123   6213.5
998       498       455       300   4311.0
999       825       643       421   6691.5

[1000 rows x 4 columns]

In [31]:
X = data.drop(["labels"], axis = 1)
Y=data["labels"]
X

     feature1  feature2  feature3
0        1214      1614       597
1        1572      1750      1162
2        1203      1480        92
3        1184       767       347
4        1090       187       331
..        ...       ...       ...
995       187       467      1270
996       188      1989      1744
997       205      1666       123
998       498       455       300
999       825       643       421

[1000 rows x 3 columns]

In [32]:
X.insert(0, 'bias' ,[1]*len(X))

In [33]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

<h3>Use Least squares to get the weights:</h3>

In [34]:
def least_squares(x,y):
   beta = np.dot(np.dot(np.linalg.inv(np.dot(x.T,x)),x.T),y)
   bias = beta[0]
   weights = beta[1:]

   return beta, bias, weights

beta, bias, weights = least_squares(X_train, Y_train)
print("Weights: ", weights)
print("Bias: ", bias)

Weights:  [5.  3.  1.5]
Bias:  5.999999999987722

In [35]:
Y_test

521    10400.5
737    15187.5
740    12543.5
660    15446.5
411     6210.5
        ...
468     6602.0
935     8943.0
428    13728.0
7       5671.0
155     8314.0
Name: labels, Length: 300, dtype: float64

In [36]:
y_pred = np.sum(np.multiply(X_test,beta), axis=1)
y_pred

521    10400.5
737    15187.5
740    12543.5
660    15446.5
411     6210.5
        ...
468     6602.0
935     8943.0
428    13728.0
7       5671.0
155     8314.0
Length: 300, dtype: float64

<h3>Print the Final Accuracy:</h3>

In [37]:
E1 = np.sum(np.square(np.subtract(Y_test, y_pred)))
E2 = np.sum(np.square(np.subtract(Y_test, Y_test.mean())))

r2 = 1- (E1 / E2)

print("The Accuracy = ", r2)

The Accuracy =  1.0

In [38]:
from sklearn.metrics import r2_score

r2_score(Y_test, y_pred)

1.0

<h3>Evaluate using Mean Square Error: </h3>

In [39]:
error = y_pred-Y_test
RSS = np.sum(error**2)
MSE = RSS/len(Y_test)
MSE

2.989516898413783e-23

In [40]:
np.dot(error,error.T)/len(Y_test)

2.989516898413783e-23

In [41]:
from sklearn.metrics import mean_squared_error

mean_squared_error(Y_test, y_pred)

2.989516898413783e-23